<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <title>Hello, world!</title>

    <style>
        body {
            background-color: rgb(191, 206, 209);
        }

        #navbarSupportedContent {
            margin-left: 20rem;
        }

        li {
            list-style: none;
        }

        .signup {
            margin-left:
                13rem;
        }

        .login {
            margin-left: 1.3rem;
        }

        .logout {
            margin-left: 1.3rem;
        }

        .home {
            margin-right: 2.5rem;
        }

        .heading {
            display: flex;
            align-items:center;
            justify-content: center;
            padding: 20px 0 0 0;
            color: #4e4e52;
        }

        form{
            margin: 10px 50px 10px 50px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">{{username}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link home" href="/admin">Home
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/page">All Pages</a>
                        <a class="dropdown-item" href="/admin/page/add-page">Add Pages</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </li>

                <li class="signup">
                    <a class="nav-link" href="/register">Register </a>
                </li>

                <li class="login">
                    <a class="nav-link" href="/login">Login </a>
                </li>

                <li class="logout">
                    <a class="nav-link" href="/logout">Logout </a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 class="heading">Add Page</h2>

    <form method="post" action="/admin/page/add-page" enctype="multipart/form-data">
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page URL</label></div>
            <div class="col"><input type="text" name="pageUrl" class="form-control" placeholder="Page URL"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Nav Display Text</label></div>
            <div class="col"><input type="text" name="navDisplayText" class="form-control" placeholder="Nav Display Text"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Title</label></div>
            <div class="col"><input type="text" name="pageTitle" class="form-control" placeholder="Page Title    "></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Meta Description</label></div>
            <div class="col"><input type="text" name="pageMetaDescription" class="form-control" placeholder="Page Meta Description"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Meta Keyword</label></div>
            <div class="col"><input type="text" name="pageMetaKeyword" class="form-control" placeholder="Page Meta Keyword"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Heading</label></div>
            <div class="col"><input type="text" name="pageHeading" class="form-control" placeholder="Page Heading"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Image</label></div>
            <div class="col"><input type="file" name="pageImage" class="form-control" placeholder="Page Image"></div>
        </div>
        <div class="mb-3 mt-3 row g-9 align-items-center">
            <div class="col col-lg-2"><label class="form-label">Page Details</label></div>
            <div class="col"><textarea rows="4" id="editor" class="editor form-control page_details" name="pageDetails" placeholder="page_details"></textarea></div>
        </div>

        <div class="mb-5 mt-3 align-items-center text-center">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>